#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#Now, rewrite to http:
#RewriteCond %{http} off
#RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

SetEnv HASH_ENCRYPT gtg5igLZasUC3xNfDlvTGBxxkoMuR6FaCYw5
SetEnv ENCRYPT_KEY eTkFHqausC34vmldkSrLkMwX13kqpDg1CYOd

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} ^core.*
RewriteRule ^(.*)$ /inventarios/index.php?/$1 [L]
RewriteCond %{REQUEST_URI} ^app.*
RewriteRule ^(.*)$ /inventarios/index.php?/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|js|img|robots\.txt)
RewriteRule ^(.*)$ /inventarios/index.php/$1 [L]
